<link href="/styles/continent_show_styles.css" rel="stylesheet">
<h1 class="flex_cont_names"><a href="/" class="continent_names"> << <%= @continent.name %></a></h1>

<div class="country_container">
  <% for country in @countries %>
  <h2 class="text_styling_countries"><a class="nolinkstyle" href="/countries/<%=country.id%>"><%= country.name.upcase %></a></h2>
  <h3 class="text_styling_countries">Population: <%= country.population %></h3>
  <h3 class="text_styling_countries">Capital City: <%= country.capital_city %></h3>
  <% end %>
</div>
